
<header class="navbar navbar-expand bg-secondary flex-column flex-md-row bd-navbar" style="z-index: 999;">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item  font-weight-bold title">
            <span clss="nav-link" href="#">Doctor Appointment App</span>
        </li>
        <li class="pl-3 nav-item">
            <a href="{{ url_for('home') }}" class="nav-link white">Home</a>
        </li>
    </ul>
    <ul class="navbar nav navbar-right p-0">
        <li class="nav-item"> <a href="{{ url_for('logout') }}" class="nav-link white">Logout</a></li>
    </ul>
</header>
