{% extends "layout/layout.html" %}

{% block content %}
{% include 'layout/home_header.html' %}
<div class="row col-12">
    <div class="col-md-8 mt-8 offset-md-2">
        <div class="main-card mb-3 card">
            <div class="card-header">Appointed Patinet </div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <thead>
                        <tr  class="app-normal-font">
                            <th class="text-center">Name</th>
                            <th class="text-center">Lastname</th>
                            <th class="text-center">Phone</th>
                            <th class="text-center">Gender</th>
                            <th class="text-center">Reason</th>
                            <th class="text-center">Date of Appointment</th>
                            <th class="text-center">State</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patient in patients.items %}
                            <tr class="app-normal-font p-0">
                                <td class="text-center">
                                    <div class="widget-content p-0">
                                        {{patient.name}}
                                    </div>
                                </td>
                                <td class="text-center">{{patient.lastname}}</td>
                                <td class="text-center">
                                    {{patient.phone}}
                                </td>
                                <td class="text-center">
                                    {% if patient.gender == 1 %}
                                        Male
                                    {% else %}
                                        Female
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {{ patient.reason }}
                                </td>
                                <td class="text-center">
                                    {{ patient.appointment_date }}
                                </td>
                                <td class="text-center">
                                    {% if patient.state == 'pending' %}
                                        <div class="badge badge-warning">Pending </div>
                                    {% elif patient.state == 'approved' %}
                                        <div class="badge badge-success">Approved </div>
                                    {% else %}
                                        <div class="badge badge-danger">Canceled </div>
                                    {% endif %}
                                </td>
                                <td class="text-center d-flex justify-content-around">
                                    {% if patient.state == 'pending' %}
                                        <a href="{{ url_for('doctor_change_appointment_state', id=patient.id, state='approved' )}}" class="btn btn-info p-1 d-flex align-items-center"> <small>Approve</small></a>
                                        <a href="{{ url_for('doctor_change_appointment_state', id=patient.id, state='cancel' )}}" class="btn btn-danger p-1"> <small>Cancel</small></a>
                                    {% elif patient.state == 'approved' %}
                                        <span class="text-success" style="font-size: 1.2rem;">
                                            <i class="bi bi-check-lg"></i>
                                        </span>
                                    {% else %}
                                        <span class="text-danger" style="font-size: 1.2rem;">
                                            <i class="bi bi-x"></i>
                                        </span>
                                    {% endif%}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="float-right mr-3">
            {% if patients.pages > 1 %}
                {% for page_num in patients.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num  %}
                        {% if patients.page == page_num  %}
                            <a class="btn btn-info nb-4" style="padding:2px 8px;" href="{{ url_for('appointed_patient', page=page_num)}}">{{page_num}}</a>
                        {% else %}
                            <a class="btn btn-outline-info nb-4" style="padding:2px 8px;" href="{{ url_for('appointed_patient', page=page_num)}}">{{page_num}}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
    </div>
</div>

{% endblock %}