{% extends "index.html" %}

{% block section %}
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">Users </div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <thead>
                        <tr  class="app-normal-font">
                            <th class="text-center">Id</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Lastname</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Address</th>
                            <th class="text-center">Phone</th>
                            <th class="text-center">Gender</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for doctor in doctors.items %}
                            <tr class="app-normal-font p-0">
                                <td class="align-center text-muted">{{ doctor.id }}</td>
                                <td class="text-center">
                                    <div class="widget-content p-0">
                                        {{doctor.name}}
                                    </div>
                                </td>
                                <td class="text-center">{{doctor.lastname}}</td>
                                <td class="text-center">
                                    <a href="{{ doctor.email }}">
                                        {{doctor.email}}
                                    </a>
                                </td>
                                <td class="text-center">
                                    {{doctor.address}}
                                </td>
                                <td class="text-center">
                                    {{doctor.phone}}
                                </td>
                                <td class="text-center" style="width: 150px;">
                                    {% if doctor.gender == True %}
                                        Male
                                    {% else %}
                                        Female
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <a href="{{ url_for('get_and_create_doctor_schedule', id = doctor.id)}}" class="text-info" style="font-size:16px">
                                        <i class="bi bi-calendar-check"></i>
                                    </a>
                                    <a href="{{ url_for('delete', id = doctor.id)}}" class="text-danger">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="float-right mr-3">
            {% for page_num in doctors.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num  %}
                    {% if doctors.page == page_num  %}
                        <a class="btn btn-info nb-4" style="padding:2px 8px;" href="{{ url_for('doctorsSchedules', page=page_num)}}">{{page_num}}</a>
                    {% else %}
                        <a class="btn btn-outline-info nb-4" style="padding:2px 8px;" href="{{ url_for('doctorsSchedules', page=page_num)}}">{{page_num}}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}