{% extends "layout/layout.html" %}
{% block header %}
    {% include 'layout/home_header.html' %}
{% endblock %}

{% block content %}
<div class="h-full content-center">
    <div class="col-md-6">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Schedule</h5>
            </div>
            <div class="modal-body">
                <form method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.name.label(class="form-control-label text-capitalize") }}
                        {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in form.name.errors %}
                            <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.name(class="form-control form-control-lg input_style") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.start_date.label(class="form-control-label text-capitalize") }}
                        {% if form.start_date.errors %}
                        {{ form.start_date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in form.start_date.errors %}
                            <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.start_date(class="form-control form-control-lg input_style") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.end_date.label(class="form-control-label text-capitalize") }}
                        {% if form.end_date.errors %}
                        {{ form.end_date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in form.end_date.errors %}
                            <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.end_date(class="form-control form-control-lg input_style") }}
                        {% endif %}
                    </div>
                    <div class="float-right">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}