{% extends "layout/content_handler.html" %}

{% block sidebar %}
    <div class="row">
        <nav class="col-lg-12  h-full pt-3">
            <div class="sideba1r-sticky">
            <ul class="nav flex-column text-block ">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        Dashboard <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Doctors Scheduals
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Appointment Data
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Reports
                    </a>
            </ul>
            </div>
        </nav>
    </div>
{% endblock %}

{% block section %}
    <div class="row">
        <div class="col-lg-12 pb-3">
            <ul class="nav nav-tabs">
                <li class="active font-weight-bold">Dashboard</li>
            </ul>
        </div>
        <div class="d-flex justify-content-around col-lg-12">
            <div class="col-md-3 h-m-7 border-10 bg-white "></div>
            <div class="col-md-3 h-m-7 border-10 bg-white"></div>
            <div class="col-md-3 h-m-7 border-10 bg-white"></div>
        </div>
    </div>
{% endblock %}