{% extends "layout/layout.html" %}
{% include "layout/home_header.html" %}
{% block content %}
<div class="container mt-8">
    <div class="row">
        <div class="col-sm-3">

            <div class="d-flex justify-content-center align-items-center">
                <div class="bg-info rounded-circle" style="height: 80%; width: 80%;">
                    <span class="d-flex justify-content-center align-items-center white text-capitalize" style="font-size: 8rem;">
                        {{current_user.name[0]}}
                    </span>
                </div>
            </div>
            <hr/>
            <br>
            <ul class="list-group">
                <li class="list-group-item text-muted">Info</li>
                <li class="list-group-item d-flex justify-content-between">Name: <span>{{current_user.name}}</span></li>
                <li class="list-group-item d-flex justify-content-between">Lastname:
                    <span>{{current_user.lastname}}</span>
                </li>
                <li class="list-group-item d-flex flex-wrap justify-content-between">Email: <a
                        href="{{ current_user.email }}"> {{current_user.email}}</a> </li>
                <li class="list-group-item d-flex justify-content-between">Phone: <span> {{ current_user.phone }}</span>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 mt-3">
            <ul class="nav nav-tabs pb-2" style="border-bottom-width: 2px; border-bottom-color: white;">
                <li class="font-weight-bold">Update Your Profile</li>
            </ul>
            <form action="" method="POST" class="mt-3">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form.previous_password.label(class="form-control-label text-capitalize") }}
                                {% if form.previous_password.errors %}
                                {{ form.previous_password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for errors in form.previous_password.errors %}
                                    <span> {{ errors }} </span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.previous_password(class="form-control form-control-lg input_style", placeholder="Enter your Previous Password") }}
                                {% endif %}

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form.new_password.label(class="form-control-label text-capitalize") }}
                                {% if form.new_password.errors %}
                                {{ form.new_password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for errors in form.new_password.errors %}
                                    <span> {{ errors }} </span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.new_password(class="form-control form-control-lg input_style", placeholder="Enter your new Password") }}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group mt-3 float-right">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}