{% extends "index.html" %}

{% block section %}

<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">Appointed Patinet </div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <thead>
                        <tr  class="app-normal-font">
                            <th class="text-center">Name</th>
                            <th class="text-center">lastname</th>
                            <th class="text-center">phone</th>
                            <th class="text-center">gender</th>
                            <th class="text-center">reason</th>
                            <th class="text-center">date of Appointment</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patient in patients %}
                            <tr class="app-normal-font p-0">
                                <td class="text-center">
                                    <div class="widget-content p-0">
                                        {{patient.name}}
                                    </div>
                                </td>
                                <td class="text-center">{{patient.lastname}}</td>
                                <td class="text-center">
                                    {{patient.phone}}
                                </td>
                                <td class="text-center">
                                    {% if patient.gender == True %}
                                        Male
                                    {% else %}
                                        Female
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {{ patient.reason }}
                                </td>
                                <td class="text-center">
                                    {{ patient.appointment_date }}
                                </td>
                                <td class="text-center">
                                    <a href="{{url_for('delete_appointment', id=patient.id)}}" class="text-danger" onclick="alert('Are your Sure to delete')">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}