.input_style{
    font-size: 15px;
    padding: 5px;
    border-color: #a370f7;
}
.none-border{
    border:none;
}
.bd-sidebar{
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
}
.bd-navbar{
    position: sticky;
    top: 0;
    padding: 0 10px;
    z-index: 1071;
    min-height: 4rem;
    background-color: rgb(121 82 179);
}
.title{
    color:white;
    font-size: 20px;
}
.white{
    color: white;
}
.mt-8{
    margin-top: 80px;
}