.input_style{
    font-size: 15px;
    padding: 5px;
    border-color: #a370f7;
    color: black;
}
#main {
    background-image: url("./images/mildred-doctor-appointment-wait-times-ftr.jpg");
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
}
.section{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 10px;
    background-color: #499ae5;
    color: white;
}
.none-border{
    border:none;
}
.bd-sidebar{
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
}
.bd-navbar{
    position: sticky;
    top: 0;
    padding: 0 35px;
    z-index: 1071;
    min-height: 4rem;
}
.title{
    color:white;
    font-size: 20px;
}
.white{
    color: white;
}
.mt-6{
    margin-top: 60px;
}
.mt-8{
    margin-top: 80px;
}
.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h-full{
    height: calc(100vh - 4.8rem);
}
.p-0{
    padding: 0 !important;
}
.h-m-7{
    min-height: 70px;
}
.border-10{
    border-radius: calc(0.25rem - 1px);
}
.body-bg{
    background-color: #eceff1;
}
.sidebar-bg{
    background-color: #252733;
}
.bg-white{
    background-color: white;
}
a:hover{
    text-decoration: none;
    color: rgb(163, 142, 142);
}
.header-link:hover{
    text-decoration: none;
    color: rgb(198, 180, 180);
}
.sidebar-items-des{
    background: #968484;
    border-radius: 5px;
}
.full-hv{
    height: 100%!important;
    width: 100%!important;
}
.app-normal-font{
    font-size: 14px;
}
.bg-inherite{
    background-color: inherit;
}
ul{
    list-style-type: none;
}
.disable-a{
    pointer-events: none;
    cursor: default;
}
.td_description_max_width{
    max-width: 450px;
}
.footer-icon-size{
    font-size: 1.3rem;
}
